<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PontuSoft, prontuários médicos simplificados!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			
			<div class="page-header">
				<h1>
					ProntuSoft <small>Prontuários Médicos Simplificados (página em desenvolvimento)</small>
				</h1>
			</div>
			
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container-fluid">
						 <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
						 	<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li class="active">
									<a href="#"><strong>Home</strong></a>
								</li>
								<li>
									<a href="#"><strong>Funcionalidades</strong></a>
								</li>
								<li>
									<a href="#"><strong>Custos</strong></a>
								</li>
								<li>
								  <a href="/users/sign_in">Entrar</a>								    
								</li>
							</ul>
							<ul class="nav pull-right">
								
								<li class="divider-vertical"></li>
								
								<li class="dropdown">
									 <a data-toggle="dropdown" class="dropdown-toggle" href="#">
									 <i class = "icon-briefcase"> </i><strong>&nbsp;Institucional</strong><strong class="caret"></strong>
									 </a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">Sobre</a>
										</li>
										<li>
											<a href="#">Contato</a>
										</li>
										<li>
											<a href="http://blog.prontusoft.com">Blog</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">Termos de Uso</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			 <!-- Main hero unit for a primary marketing message or call to action -->
	      <div class="hero-unit" style = "background-image: url(img/bg3.jpg);">
		      	<div class="row" >
		      		<div class="span4">
		        		<img src="img/logo_small.png" />
		        	</div>
		        	<div class="span8">
			        <ul class="unstyled">
		        		<strong>
		        		<li><i class="icon-ok"></i> Prontuários simplificados com dados médicos essenciais;</li>
						<li><i class="icon-ok "></i> Visa eliminar os prontuários impressos e arquivos físicos;</li>
						<li><i class="icon-ok "></i> Acesso via Web com suporte a multiplataformas: computadores, tablets e smartphones;</li>
						<li><i class="icon-ok "></i> Acesso aos dados do paciente de qualquer lugar;</li>
						<li><i class="icon-ok "></i> Proteção e recuperação dos dados do arquivo eletrônico;</li>
						<li><i class="icon-ok "></i> Visa atender consultórios particulares, pequenas clinicas e serviço publico;</li>
						<li><i class="icon-ok "></i> Sistema modular direcionado a medicina de trabalho, clínica médica e perícia médica previdenciária;</li>
						<li><i class="icon-ok "></i> Sistema escalonável, podendo ser implementadas novas funcionalidades e novos módulos;</li>
						<li><i class="icon-ok "></i> Baixo custo.</li>
						</strong>
					</ul>
				    </div>
	        </div>
	      </div>
			
			<!-- Inicio 3 colunas, prévia dos modulos -->
			<ul class="thumbnails">
				<li class="span4">
					<!-- Modulo Medicina do Trabalho -->
					<div class="thumbnail">
						<img alt="Medicina do Trabalho" src="img/med_trabalho.png">
						<div class="caption">
							<h3>Módulo Medicina do Trabalho</h3>
							<p>
							Maneira simplificada de emitir Atestado de Saúde Ocupacional (ASO), de acordo com a legislação vigente o competente prontuário  médico ocupacional ...
							</p>
							<br />
							<br />
							<p>
								<a class="btn btn-primary" href="#">Saiba mais</a>
							</p>
						</div>
					</div>
				</li>
				<li class="span4">
					<!-- Modulo Clinica Medica -->
					<div class="thumbnail">
						<img alt="Módulo Clinica Médica" src="img/clinica_medica.png">
						<div class="caption">
							<h3>Módulo Clinica Médica</h3>
							<p>
							Maneira pratica de preencher prontuário médico, receituários, emitir atestados e recibos ...
							</p>
							<br />
							<br />
							<br />
							<p>
								<a class="btn btn-primary" href="#">Saiba mais</a>
							</p>							
						</div>
					</div>
				</li>
				<li class="span4">
					<!-- Modulo Pericia Previdenciaria -->
					<div class="thumbnail">
						<img alt="Médica Previdenciária" src="img/pericia_medica.png">
						<div class="caption">
							<h3>
							Módulo Perícia Médica Previdenciária
							</h3>
							<p>
							Desenvolvido para atender Institutos de Previdência Própria, adequado a legislação de cada um deles, destinados a médicos peritos e profissionais afins ....
							</p>
							<p>
								<a class="btn btn-primary" href="#">Saiba mais</a>
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>	
	<div class="container-fluid rodape">
            <div class="row-fluid">
                <div class="span4 footer">
                    <h4><i class = " icon-briefcase icon-white"></i> Institucional</h4>
                    <ul class="unstyled">
                    	<li><a href="">Contato</a></li>
                        <li><a href="">Quem Somos</a></li>
                        <li><a href="http://blog.prontusoft.com">Blog</a></li>
                        <li><a href="">Termos de uso</a></li>
                    </ul>
                </div>
                <div class="span4 footer">
                    <h4>Relacionamentos</h4>
                    <ul class="unstyled" >
                    	<li><a href="">Usuários</a></li>
                        <li><a href="">Parceiros</a></li>
                        <li><a href="">Patrocinadores</a></li>
                    </ul>
                </div>
                <div class="span4 footer">
                    <h4><i class = "icon-wrench icon-white"></i> Suporte</h4>
                    <ul class="unstyled" >
	                    <li><a href="">Suporte Médico</a></li>
	                    <li><a href="">Suporte Técnico</a></li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>
