

			
			 <!-- Main hero unit for a primary marketing message or call to action -->
	      <div class="hero-unit" style = "background-image: url(img/bg3.jpg);">
		      	<div class="row" >
		      		<div class="span4">
		        		<img src="img/logo_small.png" />
		        	</div>
		        	<div class="span8">
			        <ul class="unstyled">
		        		<strong>
		        		<li><i class="icon-ok"></i> Prontuários simplificados com dados médicos essenciais;</li>
						<li><i class="icon-ok "></i> Visa eliminar os prontuários impressos e arquivos físicos;</li>
						<li><i class="icon-ok "></i> Acesso via Web com suporte a multiplataformas: computadores, tablets e smartphones;</li>
						<li><i class="icon-ok "></i> Acesso aos dados do paciente de qualquer lugar;</li>
						<li><i class="icon-ok "></i> Proteção e recuperação dos dados do arquivo eletrônico;</li>
						<li><i class="icon-ok "></i> Visa atender consultórios particulares, pequenas clinicas e serviço publico;</li>
						<li><i class="icon-ok "></i> Sistema modular direcionado a medicina de trabalho, clínica médica e perícia médica previdenciária;</li>
						<li><i class="icon-ok "></i> Sistema escalonável, podendo ser implementadas novas funcionalidades e novos módulos;</li>
						<li><i class="icon-ok "></i> Baixo custo.</li>
						</strong>
					</ul>
				    </div>
	        </div>
	      </div>
			
			<!-- Inicio 3 colunas, prévia dos modulos -->
			<ul class="thumbnails">
				<li class="span4">
					<!-- Modulo Medicina do Trabalho -->
					<div class="thumbnail">
						<img alt="Medicina do Trabalho" src="img/med_trabalho.png">
						<div class="caption">
							<h3>Módulo Medicina do Trabalho</h3>
							<p>
							Maneira simplificada de emitir Atestado de Saúde Ocupacional (ASO), de acordo com a legislação vigente o competente prontuário  médico ocupacional ...
							</p>
							<p>
								<a class="btn btn-primary" href="#">Saiba mais</a>
								<a class="btn btn-primary" href="/users/sign_in">Entrar</a>
							</p>
						</div>
					</div>
				</li>
				<li class="span4">
					<!-- Modulo Clinica Medica -->
					<div class="thumbnail">
						<img alt="Módulo Clinica Médica" src="img/clinica_medica.png">
						<div class="caption">
							<h3>Módulo Clinica Médica</h3>
							<p>
							Maneira pratica de preencher prontuário médico, receituários, emitir atestados e recibos ...
							</p>
							<br />
							<p>
								<a class="btn btn-primary" href="#">Saiba mais</a>
								<a class="btn btn-primary" href="">Entrar</a>
							</p>							
						</div>
					</div>
				</li>
				<li class="span4">
					<!-- Modulo Pericia Previdenciaria -->
					<div class="thumbnail">
						<img alt="Médica Previdenciária" src="img/pericia_medica.png">
						<div class="caption">
							<h3>
							Módulo Perícia Médica Previdenciária
							</h3>
							<p>
							Desenvolvido para atender Institutos de Previdência Própria, adequado a legislação de cada um deles, destinados a médicos peritos e profissionais afins ....
							</p>
							<p>
								<a class="btn btn-primary" href="#">Saiba mais</a>
								<a class="btn btn-primary" href="">Entrar</a>
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>	
