/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "compass"
	= require jquery
	= require event_calendar
	= require ui/smoothness/jquery-ui-theme
	= require bootstrap_and_overrides

#modal_con {
	width: 95%; /* SET THE WIDTH OF THE MODAL */
	margin: -250px 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

.recibo {
		font-size: 1.2em;
		line-height: 30px;

	}

@media print {

	.btn-group {
		display: none;
	}

	.btn-group {
  	display: none; 
  }

	.btn {
  	display: none; 
  }

  link {
  	display: none; 
  }

  header {
  	display: none; 
  }
 	
  body {
	  background-color: #FFF;
		width: 100%;
		padding-left: 30px;
		display: block;
		overflow: none;
  }

  footer {
	border-top: 1px solid #999;
	vertical-align: bottom;
	}
}

.tit {
	border-top: 2px solid #999;
	border-bottom: 5px solid #999;
	text-align: left;
	padding: 10px;
}

.subtit {
	font-size: 1.5em;
}

.subtit2 {
	font-size: 1.2em;
}

.borda-down {
	border-bottom: 2px solid #999;
}

.centro {
	text-align: center;
}

.dr {
	font-size: 2.6em;
}

.espec {
	font-size: 1.5em;
}

.caixa {
	border-radius: 5px;
	border: 1px solid #999;
	padding: 5px;
}

.ass {
	border-top: 1px solid #999;
	padding: 5px;
}