<p class = "recibo"> 
        Recebemos de <strong><%= @recibo.patient.nome %></strong>, a importância de 
        <strong><%= valor_monetario(@recibo.valor) %> (<%= @recibo.valor_extenso %>)</strong> referente a <strong><%= @recibo.referente %></strong>.      
      </p>