<address class = "tit">
	<p class = "dr" ><strong>Dr. José Josué Nunes</strong></p>
	<strong>CRM-AL: 1763</strong>&nbsp;&nbsp; | &nbsp;&nbsp;
	<strong>Clínica Geral, Medicina do Trabalho</strong><br>
	<small>
	Av. Wanderley, 465, Sta. Luzia, Penedo-AL &nbsp; | &nbsp;
	<abbr title="E-mail"><i class="icon icon-envelope"> </i></abbr> x-nunes@bol.com.br &nbsp;&nbsp; | &nbsp;&nbsp; 
	<abbr title="Telefone"><i class="icon icon-share-alt"> </i></abbr> (82) 3551-2349
	</small>
</address>